{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Teachers list</title>
{% endblock %}

<!--{% block custom_css %}-->
<!--table {-->
<!--font-family: arial, sans-serif;-->
<!--border-collapse: collapse;-->
<!--width: 100%;-->
<!--}-->

<!--td, th {-->
<!--border: 1px solid #dddddd;-->
<!--text-align: left;-->
<!--padding: 8px;-->
<!--}-->

<!--tr:nth-child(even) {-->
<!--background-color: #dddddd;-->
<!--}-->
<!--{% endblock %}-->

{% block content %}
    <form method="get">
<!--        <label >First name:</label>-->
<!--        <input type="text" name="first_name"><br><br>-->

<!--        <label >Last name:</label>-->
<!--        <input type="text" name="last_name"><br><br>-->

<!--        <label>Age:</label>-->
<!--        <input type="number" name="age"><br><br>-->

<!--        <label>Phone:</label>-->
<!--        <input type="text" name="phone_number"><br><br>-->

        {{ obj_filter.form | crispy }}

        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>

    <p><strong>Count of teachers: {{ object_list.count }}</strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th></th>
             <th>Last name</th>
            <th>First name</th>
            <th>age</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Salary</th>

            <th><i class="bi bi-pencil-fill"></i></th>
            <th>🚮</th>
        </tr>
        {% for teachers in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teachers.last_name }}</td>
            <td>{{ teachers.first_name }}</td>
            <td>{{ teachers.age }}</td>
            <td>{{ teachers.email }}</td>
            <td>{{ teachers.birthdate }}</td>
            <td>{{ teachers.salary }}</td>

            <td><a href="{% url 'teachers:update' teachers.id %}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teachers.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}
